version: '3.8'

services:
  apiserver:
    image: apiserver-prod
    container_name: apiserver-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.apiserver.rule=Host(`backend.icodeit.xyz`)"
      - "traefik.http.routers.apiserver.entrypoints=websecure"
      - "traefik.http.routers.apiserver.tls=true"
      - "traefik.docker.network"
    networks:
      - server

  reverse-proxy:
    image: traefik:v2.10
    ports:
      # The HTTP port
      - "80:80" # http redirect to 443
      - "443:443" # HTTPS
      - "1337:1337" # for playgrounds
      # The Web UI (enabled by --api.insecure=true)
      # - "8080:8080" # traefik dashboard
    volumes:

      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik:/etc/traefik
      - ./traefik/certs/cert.pem:/etc/traefik/certs/cert.pem
      - ./traefik/certs/privkey.pem:/etc/traefik/certs/privkey.pem
      # - traefik-ssl-certs:/ssl-certs

# use traefik-ssl-certs when using acme certificates 
# to prevent rate limiting on certificates generation between server restart
# volumes:
#   traefik-ssl-certs:
#     driver: local

networks:
  traefikplaygrounds:
    external:
      name: traefikplaygrounds
  server:
    external:
      name: server
